body
	{
	background-color:lightblue;
	}
h1.other
	{
	background-color:white;
	color:black;
	text-align:center;
	border:2px solid Tomato;
	}
p
	{
	font-family:verdana;
	}




body{
	background-image:url("Deluna.png")
	background-repeat: no-repeat;
	background-position:right top;
	margin-right:200px;
	background-attachment:fixed;
}
	
	ul{
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		background: white;
	}
	
	li{
		float: left;
	}
	
	li a{
		display: uppercase;
		color: black;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	
	li a:hover{
		background-color: lightgray;
	}
